:host{

  ion-img{
object-fit: cover;
    height:calc(100% - 30px);
    border-radius:16px;
    overflow: hidden;
    margin-bottom:8px
  }
  .nftFooterContainer
  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .footerItem{
      ion-chip
      {
        font-size: 10px;
        padding: 0px 8px;
        height: 18px;

      }
    }
  }
}
