:host {
  width:100%;
  height:100vh;
  ion-list {
    columns: 2 180px;
    app-nfts-item{
      width:calc(100% - 16px);
      display: inline-block;
      margin: 8px;
    }
    @for $i from 1 through 36 {
      app-nfts-item:nth-child(#{$i}) {
        $h: (random(400) + 100) + px;
        height: $h;
      }
    }
  }
}
